@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
progress[value]::-webkit-progress-value {
    background-color: rgb(119, 0, 255);
    border-radius: 10px;
}
::selection {
    color: rgb(119, 0, 255);;
    background-color: black;
}
::-webkit-scrollbar {
    width: 5px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(119, 0, 255);;
    border-radius: 10px;

}
body{
    margin: 0;
    /* bottom: 0; */
}
.wrapper{
    position: fixed;
    top: 0; /* Aligns the div to the top */
    left: 0; /* Aligns the div to the left */
    background-color: rgb(238, 238, 238); /* Background color */
    padding: 10px; /* Some padding for better appearance */
    bottom: 0;
    padding-right: 25rem;
}

.inputbox{
    padding: 5px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

inputbox:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.urllinks{
    text-decoration: none;
    color: white;
    font-size: 14px;
}


.btn-layouts{
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: rgb(0, 82, 204);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.btn-layouts:hover {
    background: rgb(0, 101, 255);
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: rgb(255, 255, 255);
}
