<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVERSESIUM</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="../static/css/app.css">
    
</head>

<body>
    <div class="wrapper">
        <h1>Start a Session</h1>
        <form id="sessionForm" novalidate>
            <div>
                <input type="text" id="sessionname" class="inputbox" name="sessionname" placeholder="Session Name" required>
            </div>
            <div>
                <input type="text" id="hostname" class="inputbox" name="hostname" placeholder="Hostname" required>
            </div>
            <div>
                <select id="network" class="inputbox" name="network" required>
                    <option value="" disabled selected>Select Network</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div>
                <input type="text" id="username" class="inputbox" name="username" placeholder="Username" required>
            </div>
            <div>
                <button type="submit" class="btn-layouts" >Start Session</button>
                <button id="currentSessionButton" class="btn-layouts" type="button">Current Sessions</button>
                <a href="/stop" class="btn-layouts">STOP SESSION</a>
            </div>
        </form>
        <h2>Output:</h2>
        <pre id="output" class="bg-dark text-white p-3 border"></pre>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
